@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Witaj na stronie startowej!</h1>
    <p class="lead">Dzięki tej stronie będziesz mógł szybko zapisywać wyniki meczy tenisowych i nie tylko.</p>
    <hr class="my-4">
    <p>Zorganizuj własne turnieje, wymieniaj się wiadomościami z innymi tenisowymi świrami.</p>
    <p>Przed korzystaniem z aplikacji zarejestruj się.</p>
    <p>Jeżeli masz już konto, zaloguj się.</p>
    <p>Używaj menu, aby nawigować po zakładkach</p>
</div>